.wrapper{
    width: 50%;
    margin: 0 auto;
    border: 5px solid #ddd;
}
label{
    font-size: 25px;
   } 

.first_name ,.Last_name ,.email ,.password{
    width: 90%;
    height:25px ;
    padding: 10px;
    font-size:18px ;
   }

.message{
    font-size: 18px;
    padding: 8px;
}